@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://douglas4gr.github.io/" target="_blank" class="d-flex align-items-center text-decoration-none text-dark">
                <span class="me-2">Sobre o Autor</span>
                <img src="logo-sem-fundo.png" alt="Logo" class="img-fluid" style="height: 1.25em;">
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
