/* Classe base */
.bton {
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
    background: none;
    backdrop-filter: blur(4px);
    margin: 6px;
    text-decoration: none;
    color: #000000;
}
    .bton:hover {
        text-decoration: none;
        transform: scale(1.2);
    }

/* Responsividade */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Botão Criar (Azul) */
.bton-create {
    background: rgba(106, 153, 78, 0.6);
}

    .bton-create:hover {
        background: rgba(106, 153, 78, 0.8);
    }

/* Botão Editar (Amarelo/laranja) */
.bton-edit {
    color: rgba(255, 170, 0, 0.7);
}

    .bton-edit:hover {
        color: rgba(255, 170, 0, 1);
    }

/* Botão Deletar (Vermelho) */
.bton-delete {
    color: rgba(255, 59, 48, 0.7);
}

    .bton-delete:hover {
        color: rgba(255, 59, 48, 1);
    }
