@page "/"

<PageTitle>Home</PageTitle>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1>Diário da Gratidão</h1>
                </div>
                <div class="card-body">
                    <p>Seja bem-vindo ao Diário da Gratidão. Aqui você pode registrar suas gratidões diárias.</p>
                </div>
                <img src="@ImageUrl" alt="Imagem carregada" class="img-fluid" />
            </div>
            <div class="card">
                <div class="card-body">
                    @if (NotaSorteada != null)
                    {
                        <p>@NotaSorteada.Conteudo</p>
                        <p>@NotaSorteada.DataCriacao.ToString("dd/MM/yyyy")</p>
                    }
                    else
                    {
                        <p>Nenhuma nota sorteada ainda.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Nota> NotasList { get; set; } = new();
    private Nota NotaSorteada { get; set; }
    private string ImageUrl { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await CarregaNotas();
        SortearNota();
        StateHasChanged(); // Força a atualização do estado
    }

    private async Task CarregaNotas()
    {
        var notas = await _notaService.GetAllNotasAsync();

        NotasList?.Clear();

        if (NotasList == null) return;

        foreach (var nota in notas)
            NotasList.Add(nota);
    }

    private void SortearNota()
    {
        if (NotasList != null && NotasList.Count > 0)
        {
            var random = new Random();
            int index = random.Next(NotasList.Count);
            NotaSorteada = NotasList[index];
        }
    }
}
