@page "/"
@inject INotaRepository _notaService
@inject ICorRepository _corService

<PageTitle>Home</PageTitle>
<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
                    @if (NotaSorteada != null)
                    {
                <div class="card m-3" style="background-color:@CardColor;">
                    <div class="card-body">
                        <h1>@NotaSorteada.Conteudo</h1>
                        <div class="text-end">
                            <p>@NotaSorteada.DataCriacao.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
                    }
                    else
                    {
                        <p>Nenhuma nota sorteada ainda.</p>
                    }
            <div class="card m-3">
                <div class="card-body">
                    <p>Seja bem-vindo ao Diário da Gratidão. Aqui você pode registrar suas gratidões diárias.</p>
                </div>
            </div>
        </div>
    </div>
</main>

@code {
    //notas
    private List<Nota> NotasList { get; set; } = new();
    private Nota NotaSorteada { get; set; }
    //cores
    private string CardColor { get; set; } = "";
    private List<Cor> CoresList { get; set; } = new();
    private Cor CorSorteada { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await CarregaNotas();
        await CarregaCores();
        SortearNota();
        SortearCor();
        StateHasChanged(); // Força a atualização do estado
    }

    private async Task CarregaNotas()
    {
        var notas = await _notaService.GetAllNotasAsync();

        NotasList?.Clear();

        if (NotasList == null) return;

        foreach (var nota in notas)
            NotasList.Add(nota);
    }

    private void SortearNota()
    {
        if (NotasList != null && NotasList.Count > 0)
        {
            var random = new Random();
            int index = random.Next(NotasList.Count);
            NotaSorteada = NotasList[index];
        }
    }

    private async Task CarregaCores()
    {
        var cores = await _corService.GetAllCoresAsync();

        CoresList?.Clear();

        if (CoresList == null) return;

        foreach (var cor in cores)
            CoresList.Add(cor);
    }

    private void SortearCor()
    {
        if (CoresList != null && CoresList.Count > 0)
        {
            var random = new Random();
            int index = random.Next(CoresList.Count);
            CorSorteada = CoresList[index];
            CardColor = CorSorteada.Hexa;
        }
    }
}
